<h3 class="title"><%= l(:label_password_required) %></h3>
<p class="nodata" style="font-size: 1em;"><%= t 'sudo_mode_new_info_html' %></p>
<%= form_tag(oauth_path(back_url: back_url), method: :get, id: 'oauth-login') do %>
  <%#= hidden_field_tag '_method', request.request_method %>
  <%#= hash_to_hidden_fields original_fields %>
  <%= render_flash_messages %>
  <%= button_tag(name: 'oauth_provider', value: @oauth_provider.id, id: "login-oauth-submit-#{@oauth_provider.id}",
                 title: l(:oauth_login_with), style: "background: #{@oauth_provider.button_color}") do %>
    <i id="button_icon" class="<%= @oauth_provider.button_icon %>"></i>
    <% str = @oauth_provider.button_text.presence || l(:oauth_login_via, oauth: @oauth_provider.custom_name) %>
    <%= str.html_safe %>
  <% end %>
<% end %>
